{% extends 'base.html' %}
{% block body %}
  <!-- 아래의 시스템user와 충돌을 피하기 위해 이름을 변경한다.(user -> user_info) -->
  <h1 class="mt-5 d-flex">{{user_info.username}}</h1>
  <!-- 로그인한 사용자에게만 보여주고, 내가 나를 팔로우하지 못하게 한다.  -->
  {% if user.is_authenticated and user != user_info %}
    <a class="btn btn-primary d-flex" href="{% url 'accounts:follow' user_info.id %}">팔로우</a>
  {% endif %}
  <br>
  <span class="mr-3">게시물 {{user_info.posts.all | length}}</span>
  <span>팔로워 {{user_info.followers.all | length}}</span>
  <span>팔로잉 {{user_info.followings.all | length}}</span>
  
{% endblock %}